//----------------------
// Configuration
//----------------------

configuration {
	modi: 			"drun,run";
	width: 			550;
	lines: 			13;
	font: 			"JetBrains Mono 10";
	show-match: 		false;
	separator-style: 	"solid";
	hide-scrollbar: 	true;
	theme:			"~/.local/share/rofi/nord";
	}
