//----------------------
// Configuration
//----------------------

configuration {
	modi: 			"drun,run";
	width: 			750;
	lines: 			13;
	font: 			"Hack 9";
	show-match: 		false;
	separator-style: 	"solid";
	hide-scrollbar: 	true;
	theme:			".local/share/rofi/nord";
	}
